body{
    background-color: white;
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
    font-size: 12px;
}
.heading{
    margin: 8px;
    font-size: 25px;
}
.corp{
    padding: 7px 10px;
    width: 180px;
    height: 33px;
    font-size: 14px;
    border-width: .5px;
   
    margin: auto;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 10%;
    left: 50%;
}
#type1{
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
    line-height: 1.4;
font-family: sans-serif;
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
}
#type2{
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    line-height: 1.3;
    font-family: sans-serif;
    
}
#tableinput{
    border-collapse: collapse;
    
    text-align: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    
    text-align: center;
    align-items: center;
    margin: auto;

}

input[type="text"]
{
    width: 75px;
    align-items: center;
    height: 25px;
}
td,tr{
    border: 1px solid black;
    padding: 6px;
    color: black;
    font-size: 16px;
    align-items: center;
}
#disp3{
    color: green;
    font-size: 20px;
    font-weight: bolder;
}
#b1{
    align-items: center;
    font-size: 15px;
}

body, select, input, textarea {
    color: #444;
}